<div class="card mx-auto" style="width: 20rem; margin-top:20px">
  <div class="m-3">
    <h6 class="card-title" style="text-align: center">Password Generator</h6>

    <div *ngIf="isValueString" class="alert alert-danger">
      Please, enter a number!
    </div>

    <div class="form-group">
      <label> Enter Length </label>
      <input [(ngModel)]="value" class="form-control" />
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        id="exampleCheck1"
        type="checkbox"
        name=""
        id=""
        (change)="onAddLetterChange()"
      />
      <label class="form-check-label" for="exampleCheck1">Use Letters</label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        id="exampleCheck1"
        type="checkbox"
        name=""
        id=""
        (change)="onAddNumberChange()"
      />
      <label>Use Numbers</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        id="exampleCheck1"
        type="checkbox"
        name=""
        id=""
        (change)="onAddSymbolChange()"
      />
      <label>Use Symbols</label>
    </div>

    <div>
      <button [disabled]="!(value && (canAddLetters || canAddNumbers || canAddSymbols))" class="btn btn-primary" (click)="onButtonSubmit()">
        Generate!
      </button>
    </div>

    <div *ngIf="password" class="form-group">
      <label>The generated password is: </label>
      <input type="text" [value]="password" class="form-control" />
    </div>
  </div>
</div>
